.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.App-logo {
  height: 20vmin;
  width: 50vmin;
  pointer-events: none;
  margin-bottom: 25vmin;
}

.login-button,
.signup-button {
  background-color: white;
  border: 0.125rem solid #007bff;
  color: #007bff;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.625rem;
  width: 80%;
  max-width: 18.75rem;
}

.login-button:hover,
.signup-button:hover {
  background-color: #007bff;
  color: white;
}

.signup-button {
  border: none;
  background: none;
  color: #007bff;
  text-decoration: underline;
}

.signup-button:hover {
  text-decoration: none;
}

p {
  margin-top: 1.25rem;
  font-size: 0.875rem;
  color: #333;
}
